<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title あなたのいいところ診断
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    style
      include css/style.css
  body
    h1 あなたのいいところは？
    p 診断したい名前を入れて下さい
    input(type="text" id="user-name" size="40" maxlength="20")
    button#assessment 診断する
    div#result-area
    div#tweet-area
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    script
      include js/assessment.js