<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ニックネーム
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    style
      include ../../css/style.css
  body
    h2 あなたにニックネームをつけます
    input(type="text" id="userName" size="40" maxlength="20" placeholder="名前を入力してください")
    button#createNickname 作成
    div#resultArea
    div#tweetArea
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    script
      include ../../js/nickname/main.js